<footer class="page-footer black">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Elliot Yandzio
      <a class="grey-text text-lighten-4 right" href="#!">Project 2</a>
    </div>
  </div>
</footer>
