<nav class="blue-grey">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <% if(locals.isLoggedIn) { %>
      <li><a href="/stadiums">Stadiums</a></li>
      <li><a href="/stadiums/new">Add Stadiums</a></li>
      <li><a href="/logout">Logout (Signed in as <%= locals.user.username %>)</a></li>
      <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <% } %>

    </ul>
  </div>
</nav>
