 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stadia</title>
  </head>
  <body>
    <% include ./partials/_header %>
    <% include ./partials/_navbar %>
    <div class="container">
      <%- body -%>
    </div>
  </body>
</html>
