<h1 class="center-align">Create a new stadium review</h1>
<div class="row">
  <form class="col l12 m12 s12" id="create" action="/stadiums" method="post">
      <div class="input-field col l12 m12 s12 small">
        <input type="text" name="name" id="name_field">
        <label for="name_field">Name</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <input type="text" name="address" id="address_field" required>
        <label for="year_field">Address</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <input type="text" name="team" id="team_field">
        <label for="team_field">Team</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <input type="text" name="photo" id="photo_field">
        <label for="photo_field">Photo URL</label>
      </div>
      <div class="input-field col l12 m12 s12 center-align">
        <button class="btn blue lighten-1">Create New Album</button>
      </div>
    </form>
</div>
